@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --foreground: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-futura: var(--font-futura);
  --font-helvic: var(--font-helvic);
  --font-social: var(--font-social);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #f7f7f7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  /* This keeps the scrollbar "track" visible so the page doesn't shift */
  scrollbar-gutter: stable;
}

::selection {
  background-color: #000;
  /* The dark gray from your image */
  color: #fff;
  /* Your 'milk' color (adjust hex if needed) */
}

/* Firefox specific */
::-moz-selection {
  background-color: #000;
  color: #fff;
}

body.menu-open {
  overflow: hidden !important;
  height: 100vh;
}

.quotesSection {
  overflow: clip;
  contain: layout paint;
}

.hoverLink:hover {
  opacity: 0.7;
  transition: all;
  transition-duration: 200;
}