@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --foreground: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-futura: var(--font-futura);
  --font-helvic: var(--font-helvic);
  --font-social: var(--font-social);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #f7f7f7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  /* This keeps the scrollbar "track" visible so the page doesn't shift */
  scrollbar-gutter: stable;
}
